__pycache__/*
.ipynb_checkpoints/*
lara_birthday/*
mom/*
student visa/*
Jurik Indicators.pdf
Perth vegan.docx
ZenGuitar_ep6.aax
output.xlsx
output2.xlsx
trip/*
voc_test.ipynb
zen_guitar.pdf
当吉他手遇见禅.pdf
structure.docx